body {
  height: 100%;
  with: 100%;
  font-family: 'Lato', sans-serif;
  background: url(../images/brickwall.png);
}

h1, h2, h3, h4, h5, h6, p {
  color: #80787A;
}

h5 {
  font-weight: bold;
}

img {
  margin-bottom: 10px;
}

.row {
  margin-top: 40px;
}

.col-md-4 {
  margin-top: 40px;
  height:100vp;
}

.row {
  height:100px
}

.fa-2x, .fa-2x:hover {
  color: #fff;
  text-decoration: none;
}

a, a:hover {
  color: #ED1886;
}

.text-box {
  margin: 10px 5px;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 2px 2px 3px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  position: relative;
}

.box-twitter {
  text-align: center;
  padding: 35px 40px;
}

#ribbon {
  padding: 0 0 10px 0;
  position: absolute;
  top: -0.5em;
  width: 40px;
}

#ribbon div {
  background: #bb3a34;
  background: linear-gradient(#F27993 1%, #bb3a34 99%);
  color: #fff;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  height: 40px;
}

.ribbon-black#ribbon div {
  background: #000;
  background: linear-gradient(#A89D9F 1%, #000 99%);
}

#ribbon div:after {
  border-left: 20px solid #bb3a34;
  border-right: 20px solid #bb3a34;
  border-bottom: 10px solid transparent;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.ribbon-black#ribbon div:after {
  border-left: 20px solid #000;
  border-right: 20px solid #000;
}
