body {
  height: 100%;
  with: 100%;
  font-family: 'Lato', sans-serif;
  background: url(../images/brickwall.png);
}

.navbar {
  height: 55px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #80787A;
}

h5 {
  font-weight: bold;
}

img {
  margin-bottom: 10px;
}

.row {
  margin-top: 40px;
}

.col-md-4 {
  margin-top: 10px;
  height:100vp;
}

.row {
  height:100px
}

.fa-2x, .fa-2x:hover {
  color: #fff;
  text-decoration: none;
}

a, a:hover {
  color: #ED1886;
}

.text-box {
  margin: 10px 5px;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 2px 2px 3px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  position: relative;
}

.box-twitter {
  text-align: center;
}

#ribbon {
  padding: 0 0 10px 0;
  position: absolute;
  top: -0.5em;
  width: 40px;
}

#ribbon div {
  background: #bb3a34;
  background: linear-gradient(#F27993 1%, #bb3a34 99%);
  color: #fff;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  height: 40px;
}

.ribbon-black#ribbon div {
  background: #000;
  background: linear-gradient(#A89D9F 1%, #000 99%);
}

#ribbon div:after {
  border-left: 20px solid #bb3a34;
  border-right: 20px solid #bb3a34;
  border-bottom: 10px solid transparent;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

.ribbon-black#ribbon div:after {
  border-left: 20px solid #000;
  border-right: 20px solid #000;
}

.button-box {
    border: 3px solid #6699D4;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin:auto;
    padding: 6px;
    width: 140px;
}

.load-more-btn.center-block {
  width: 140px;
  margin: 10px auto 20px;
}

.nav-pills.center-block {
  width: 304px;
}
a.load-more-btn, a.load-more-btn:hover {
  color: #6699D4;
}

.button-box span {
    transition: 0.3s;
    position: relative;
}

/* animate buttons on hover */
.button-box span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.3s;
}

.button-box:hover span {
    padding-right: 25px;
}

.button-box:hover span:after {
    opacity: 1;
    right: 0;
} /* end animate buttons on hover */

.hidden {
  display: none;
}

.btn {
  padding: 0;
  margin-top: 6px;
  width: 100px;
  }
  
.manual-btn.active a {
  background-image: url(../images/manual-btn.jpg);
}

.twitter-btn.active a {
  background-image: url(../images/twitter-btn.jpg);
}

.ins-btn.active a {
  background-image: url(../images/inst-btn.jpg);
}

.manual-btn a {
  background-image: url(../images/manual-btn-blackwhite.jpg);
  color: #c8cace;
}

.twitter-btn a {
  background-image: url(../images/twitter-btn-blackwhite.jpg);
  color: #c8cace;
}

.ins-btn a {
  background-image: url(../images/inst-btn-blackwhite.jpg);
  color: #c8cace;
}

